.container {
    background-color: #bddbff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 700px;
}

@media only screen and (min-width: 768px) {
    .container {
        height: 900px;
    }
}

.qrcode_cnt {
    width: 80%;
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
}

@media only screen and (min-width: 768px) {
    .qrcode_cnt {
        width: 20%;    
    }
}

.image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    margin-bottom: 24px;
}

.title {
    font-weight: bold;
    font-size: 1.4rem;
}

.lead {
    font-size: .9rem;
    color: #707070;
    text-align: center;
}